.hero-section {
  position: relative;
  padding-top: 281px;
  padding-bottom: 163px;
  background-color: var(--hero-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section::before {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, 0.2);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-hero {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: var(--title-color);
  z-index: 600;
}

.subtitle-hero {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: var(--subtitle-color);
  z-index: 600;
}

.hero-btn {
  margin-top: 24px;
  z-index: 600;
}

@media screen and (max-width: 582px) {
  .hero-section {
    padding-top: 181px;
    padding-bottom: 83px;
  }
  .title-hero {
    font-size: 28px;
  }
  .subtitle-hero {
    margin-top: 16px;
    width: 300px;
    text-align: center;
    font-size: 18px;
  }
}
